
#widget-server {
	margin-top: 10vh;
	margin-bottom: 10vh;
}

.server-status {
	font-family: 'Minecraftia', 'Courier New', monospace;
	padding: 5px;
	width: 80vw;
	max-width: 600px;
	min-width: 350px;
	background-color: #00000080;
	border: 3px solid #aaaaaaaa;
	cursor: pointer;
	user-select: none;
}

.server-status:hover {
	background-color: #000000aa;
	border: 3px solid #aaaaaaff;
}

.server-status-icon,.server-icon {
	width: 64px;
	height: 64px;
}

.server-status .container {
	gap: 10px;
}

.server-status-meta .status-online {
	height: 24px;
	width: auto;
	image-rendering: pixelated;
}

.server-status-body .server-motd .motd-error {
	color: darkred;
}

.server-status .players {
	position: relative;
	display: inline-block;
}
.server-status .tooltip-text {
	visibility: hidden;
	background-color: #000000aa;
	padding: 5px 5px;
	position: absolute;
	z-index: 1;
	top: -5px;
	left: 105%;
}
.server-status .tooltip-text img {
	height: 16px;
	width: auto;
	padding-left: 16px;
	image-rendering: pixelated;
}
.server-status .tooltip-text.empty {
	visibility: hidden !important;
}

/* Wtf */
.server-status:has(.players:hover) .tooltip-text {
	visibility: visible;
}
